@font-face {
    font-family: Poppins Bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins Medium;
    src: url(./assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins Regular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #F6F6F6;
    width: 70%;
    color: #999999;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    flex-direction: row;
    margin: 60px auto 79px;
    list-style: none;
}

.nav__item {
    margin: 0 auto;
}

.nav__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav__item-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.container {
    width: 100%;
}

.main {
    margin: 0 auto;
}

.main__info {
    display: flex;
    flex-direction: row;
}

.main__title {
    margin: 0 auto 0 0;
    max-width: 40%;
    font-size: 100px;
    font-weight: 700;
}

.main__avatar {
    margin: 0 auto;
    width: 350px;
    height: 320px;
    object-fit: cover;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-title {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
}

.section-description {
    font-weight: 400;
}

.skills-item {
    font-size: 25px;
}
